{%extends 'base.html' %}

{%block content%}
<div class="container">
        <div class="row topmargin justify-content-center">
        {% for obj in object_list %}
          <div class="col-3 squaremenu">
            <h3 class="flavorlink"><a class="flavorlink" href="{% url 'ice_cream:detail' obj.pk %}">{{obj.flavor}}</a></h3>
              <div class="avail">
                  <datetime>{{obj.date_churned}}</datetime>
                  <span>: {{obj.available}}</span>
                  <h5>{{obj.base}}</h5>
                  <img class="imgposit" src="{{ice.model_pic}}">
              </div>
           </div>
        {%endfor%}
        </div>
</div>
{%endblock content%}
